footer {
    background-color: #50da46;
    color: #000000;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

footer>div {
    flex: 1 1 200px;
}

footer h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

footer p {
    margin-bottom: 5px;
    font-size: 16px;
}

footer a {
    display: inline-block;
    margin-right: 10px;
    color: #010101;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #2f7d28;
}

footer svg {
    width: 32px;
    height: 32px;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 11rem;
    align-items: center;
}