<section class="contenido_inicio">
        <div class="logincom">
            <div class="Bienve">
                <h1>Psycho Rekord's </h1>
                <h3>Bienvenido. Registrate o inicia sesion para comenzar</h3>
            </div>
             
        <div>
            
        </div>
        
        <section class="inicio_sesion">
        <form class="form">
            <div class="contenedor_campos">
                <div class="campo">

                    <input class="input-text" type="text" placeholder="usuario" id="usuario">
                </div>

                <div class="campo">

                    <input class="input-text" type="password" placeholder="contraseña" id="password">
                </div>

                <div>
                    <input class="button" type="button" onclick="" value="Iniciar sesion">                    
                </div>
                <p>¿No tienes una cuenta?</p>
                <a href="alta.html">Click aqui</a>
            </div> <!--contenedor de campos-->
        </form>
    </section>
        </div>