.custom-navbar {
  background-color: #6ce963; 
  padding: 10px;
}

.links {
  list-style: none;
  display: flex;
  gap: 25px;
  
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}
.links .nav-link {
  position: relative;
}

.links .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 0%;
  height: 2px;
  background-color: black; 
  transition: width 0.2s ease;
}


@media (min-width: 992px) {
    .custom-toggler {
        display: none !important; 
    }
}

@media (max-width: 991.98px) {
    .custom-toggler {
        display: flex; 
    }
}


.custom-toggler:focus,
.custom-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}


.links .nav-link:hover::after {
  width: 100%;
}


.links .nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 545;
  display: flex;
  align-items: center;
}

.links .nav-link span {
  transition: transform 0.3s ease, color 0.3s ease;
}



.nav-item {
  display: flex;
  align-items: center;
}


.custom-toggler {
  border: none;
  background: transparent;
  padding: 0;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-toggler .toggler-icon {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: 0.3s ease;
  border-radius: 2px;
}
.custom-toggler[aria-expanded="true"] .toggler-icon:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.custom-toggler[aria-expanded="true"] .toggler-icon:nth-child(2) {
  opacity: 0;
}

.custom-toggler[aria-expanded="true"] .toggler-icon:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.custom-toggler[aria-expanded="false"] .toggler-icon {
  transform: none;
  opacity: 1;
}

@media (max-width: 992px) {
  .links {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .nav-item {
    width: 100%;
    justify-content: center;
  }

  .links .nav-link{
    font-size: 15px;
  }
}
